{%extends "volunteer/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'evelist/eve.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
    
<body>
<div style="padding:15px 15px 1500px;font-size:30px">
    {% if x %}
        <!--{% for query in x %}
            <ul style="list-style-type:none">
            <li>
                <a href="evelist/{{query.id}}"> {{query.name }}
                </a>
            </li>
            </ul>
        {% endfor %}-->
    {% else %}
     no events to show    
     {% endif %}
     <div class="title">
      <div class="w3-container w3-center w3-animate-top" style="animation-duration: 3s;">
        <h1><b><pre>Alone we can do little;
            together we can do so much!</pre></b></h1>
      </div>
     </div>
    <!--<div style="position: absolute;top: 685px;width: 637px;height: 80px;background: aliceblue;
                                   text-align: center; margin-left: auto;margin-right: auto;left: 0;right: 0;color: blueviolet">
        <ul>-->
            <!--<a href="#" class="mid_links">VOLUNTEERS</a>-->
            <!--<a href="#" class="mid_links">ORGANIZATIONS</a>
            <a href="https://www.youtube.com/" class="mid_links">EVENTS</a>
        </ul>
    </div>-->
   <div class="block_title" style="margin-right:400px;width:600px; margin-left:100px;">
     <h2 style=" font-size: 40px;font-family: fantasy; color: darkslategray">Welcome to Helping Network</h2>
   </div>
        <section style="margin-top: 40px; margin-left: 150px;">
            <p style="color:darkslategray; font-size: 20px;margin-left:-50px; margin-right: 50px;">Non governmental bodies are doing a great job but what if their event goes unnoticed and they run out of funds ? 
              Well, this happens quite frequently and especially for a newly established organisation, it becomes next to impossible to lay their foundation stone. 
              There is just one solution to it - ACTIVE PUBLIC PARTICIPATION
              It's not uncommon to see  half torn posters about the social events on the station wall. But this is definitely not the only way of creating awareness among the people. 
              
              Time's changing rapidly. Newspapers are being replaced by electronic gadgets. Tech is the go-to tool to promote an event – or anything, really. It’s free and almost everyone uses it. 
              After researching, we found that there are not many popular platforms where both organizer and volunteer share their interests and participate actively in the events happening. 
              We have www.insider.in where people usually search for fun events. Now that's definitely not a place where social events can get a chance to stand. So, we need a fully dedicated platform just for the promotion of non profit events. 
              Since a website can be accessed from anywhere and anytime, we chose to use this medium. Our main aim is to do a little for the betterment of the society through the knowledge that we possess.
              
              "Doing good is a collective responsibility and we all truly want to live in a better world" – Anshu Gupta, Founder Goonj</p>
        </section>
</div> 
<!--<div class="w3-content w3-display-container">
        {% load static %}
        <img class="mySlides" style="display:none;" src="{% static 'evelist/socialwing3_2.jpg' %}" style="width:100%">
        <img class="mySlides" style="display:none;" src="{% static 'evelist/udaaan1_2.jpg' %}" style="width:100%">
        <img class="mySlides" style="display:none;" src="{% static 'evelist/udaan2_2.jpg' %}" style="width:100%">
      
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
      
      <script>
      var slideIndex = 1;
      showDivs(slideIndex);
      
      function plusDivs(n) {
        showDivs(slideIndex += n);
      }
      
      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
      }
      </script>-->
      <div class="carousel-inner">
            {% for i in img %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
              <img class="d-block w-50" src="{{i.image.url}}" alt="First slide" style="margin-top:50px; margin-bottom:50px; border-style:solid; margin-left: 220px;">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
{% endblock content %}
